<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grocery List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grocery List</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
        <h2>Cereal</h2>
        <p>Quantitiy: 4</p>
      </ion-label>
      </ion-item>
      <ion-item-options>
        <button ion-button color="green" icon-start>
            <ion-icon name="checkbox-outline"></ion-icon>
            Got it 
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
        <ion-item>
          <ion-label>
          <h2>Water Cases</h2>
          <p>Quantitiy: 2</p>
        </ion-label>
        </ion-item>
        <ion-item-options>
          <button ion-button color="green" icon-start>
              <ion-icon name="checkbox-outline"></ion-icon>
              Got it 
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
          <ion-item>
            <ion-label>
            <h2>Asparagus</h2>
            <p>Quantitiy: 1</p>
          </ion-label>
          </ion-item>
          <ion-item-options>
            <button ion-button color="green" icon-start>
                <ion-icon name="checkbox-outline"></ion-icon>
                Got it 
            </button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item>
              <ion-label>
              <h2>Cucumbers</h2>
              <p>Quantitiy: 6</p>
            </ion-label>
            </ion-item>
            <ion-item-options>
              <button ion-button color="green" icon-start>
                  <ion-icon name="checkbox-outline"></ion-icon>
                  Got it 
              </button>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
              <ion-item>
                <ion-label>
                <h2>Almond Milk</h2>
                <p>Quantitiy: 1</p>
              </ion-label>
              </ion-item>
              <ion-item-options>
                <button ion-button color="green" icon-start>
                    <ion-icon name="checkbox-outline"></ion-icon>
                    Got it 
                </button>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item-sliding>
                <ion-item>
                  <ion-label>
                  <h2>Steaks</h2>
                  <p>Quantitiy: 3</p>
                </ion-label>
                </ion-item>
                <ion-item-options>
                  <button ion-button color="green" icon-start>
                      <ion-icon name="checkbox-outline"></ion-icon>
                      Got it 
                  </button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding>
                  <ion-item>
                    <ion-label>
                    <h2>Oreo Cookies</h2>
                    <p>Quantitiy: 1</p>
                  </ion-label>
                  </ion-item>
                  <ion-item-options>
                    <button ion-button color="green" icon-start>
                        <ion-icon name="checkbox-outline"></ion-icon>
                        Got it 
                    </button>
                  </ion-item-options>
                </ion-item-sliding>


  </ion-list>

 
</ion-content>
